.total-balance-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;
  margin-right: 10px;
}

.chart-container {
  width: 100px; /* Adjust the size of the chart */
  height: 100px;
  position: relative;
}

.balance-details {
  margin-left: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.balance-details h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.balance-details p {
  font-size: 14px;
  color: #888;
  margin: 5px 0;
}

.balance-details h2 {
  font-size: 28px;
  font-weight: 700;
  margin: 10px 0;
}

.add-bank-link {
  color: #006d32;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
}

.add-bank-link:hover {
  text-decoration: underline;
}
